/build
scripts/build
scripts/deps
/CMakeLists.txt.user
/.idea
/src/backend/opencl/cl/cn/cryptonight_gen.cl
.vscode
/.qtcreator
emsdk
bin
build
node_modules
build_wasm/CMakeFiles
build_wasm/CMakeCache.txt
